doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(ng-app="app", ng-controller="MainController")
		block content
		script(src="/angular/angular.min.js")
		script(src="/javascripts/customer.js")
